/clans.txt
/config.json
/games.txt
/key.txt
/tchannel_music.txt
/tchannel_admin.txt
/out/artifacts/DiscordBOT_jar/clans.txt
/out/artifacts/DiscordBOT_jar/config.json
/out/artifacts/DiscordBOT_jar/games.txt
/out/artifacts/DiscordBOT_jar/key.txt
/out/artifacts/DiscordBOT_jar/tchannel_music.txt
/out/artifacts/DiscordBOT_jar/tchannel_admin.txt
/.github/
/.idea/
/build/
/gradle/
/.gradle/
